/* shared styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* header section styles */
.header {
    display: flex;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.10);
    width: 100%;
    align-items: center;
    height: 100vh;
}


.header-left {
    padding-left: 150px;
}

.header-img {
    /* margin-top: 50px; */
    width: 70%;
    margin: auto;
}

.header-title {
    color: #272727;
    font-size: 80px;
    font-weight: 900;
    width: 700px;
    text-align: left;
    height: 290px;
    margin-bottom: 30px;
}

.header-description {
    width: 630px;
    text-align: left;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
}

.btn {
    text-align: left;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 20px 43px;
    margin-top: 30px;
}

/* feature flower section */

.feature-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    margin-top: 150px;
    margin-bottom: 0;
}

.feature-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 50px;
    text-align: center;
}

.feature-container {
    display: flex;
    gap: 25px;
    align-items: center;
    width: 80%;
    margin: auto;
    text-align: center;
}

.item1 {
    margin-left: 60px;
}

.feature-container .flower1,
.flower2,
.flower3 {
    border-radius: 300px 300px 0px 0px;
    width: 350px;
    height: 400px
}

.flower1 {
    background: rgba(167, 33, 98, 0.15);
}

.flower2 {
    background: rgba(5, 151, 160, 0.15);

}

.flower3 {
    background: rgba(71, 125, 17, 0.15);

}

.feature-container img {
    width: 200px;
    height: 300px;
    margin-top: 28%;
}

.flower-description {
    color: #272727;
    font-size: 20px;
    font-weight: 700;
    text-decoration-line: underline;
    margin-top: 30px;
}

/* Hot deal section */

.hot-deals {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    /* gap: -100px; */
    text-align: center;
    margin-top: 130px;
}

.deal-right >img {
    margin-top: 100px;
}

.deal-right{
    margin-right    : 100px;
    margin-bottom: 50px;
}
.deal-left{
    margin-left: 100px;
}

